.policy {
    padding: 20px 15px;

    &_h2 {
        padding-left: 5px;

    }

    &_descr {
        margin-top: 20px;
    }
    
    &_h2 {
        margin-top: 25px;
    }

    &_h3 {
        padding-left: 30px;
        margin-top: 15px;
        line-height: 22px;
    }
}