.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    width: 25px;
    height: 250px;
    z-index: 5;

    &__link {
        width: 20px;
        height: 24px;
        
    }

    &__div {
        width: 2px;
        height: 70px;
        
        background-color: #000;
    }

    &__descr {
        width: 150px;
        height: 25px;

        span {
            display: block;
            font-weight: bold;
            font-size: 16px;
            

            transform: rotate(-90deg) translateX(-40%);
        }
    }
}